<!DOCTYPE html>
<html>
  [/- include('head'); /]
  <body>

      <h1 class="w-full text-emerald-500 font-bold text-center text-4xl">[/= userPost.title /]</h1>
      <h3 class="text-center mt-20 font-bold text-3xl text-gray-500 underline">[/= userPost.content /]</h3>
    <script>
    </script>
  </body>
</html>