<!DOCTYPE html>
<html>
  [/- include('head'); /]
  <body>
    
      <h1 class="text-emerald-500 font-bold text-center text-4xl">Welcome to [/= title /]</h1>
      <p class="text-center text-lg font-bold text-indigo-300">Express.js / ejs / tailwind.css</p>
    
    <div class="pl-4 flex flex-col">
      <h3 class="font-bold text-3xl text-gray-500 underline">Tech List</h3>
      <a class="text-xl text-indigo-400" href="/todolist">Todo-list</a>
      <a class="text-xl text-indigo-400" href="/board">Board</a>
    </div>
    
  </body>
</html>
