


<!DOCTYPE html>
<html>
  [/- include('head'); /]
  <body>
    <div id="modal" style="display: none" class="w-full h-full absolute left-0 top-0 flex flex-col items-center justify-center bg-opacity-40 bg-gray-400">
      <div class="bg-[#458bc5] shadow-md shadow-gray-400 rounded-md border border-white w-[400px] h-[200px] relative top-[-100px] p-3 flex flex-col items-center justify-between">
          <div class="pl-3 text-white justify-between w-full flex flex-row">
              <h2 class="flex-1 w-full flex justify-center">리스트를 전부 삭제하시겠어요?</h2>
          </div>
          
          <div class="mt-5 py-3 text-white align-bottom">
              <a href="/todolist/alldeletetodo" class="border hover:border-red-400 px-4 py-2">네, 삭제할게요</a>
              <button id="cancel-alldelete-todo-button" class="border hover:border-yellow-500 px-4 py-2">아니요</button>
          </div>
      </div>
  </div>
    <a href="/" class="bg-red-300 text-indigo-400">HOME</a>
    
    <div class="flex flex-col justify-center items-center mt-20">
    <h2>오늘의 할일을 적어보세요</h2>
    <form class="mt-4 mb-4" action="/todolist/addtodo" method="post">
      
      <input
        class="text-sm w-52 p-2 focus:bg-teal-100 focus:border-teal-400 focus:outline-teal-400"
        type="text"
        placeholder="ex) 퇴근 후 1시간 공부하기..."
        maxlength="20"
        name="title">
      <button class="border border-teal-400 bg-teal-200 rounded-lg p-2"><span class="text-white font-bold">추가</span></button>
    </form>
    <p class="text-pink-500 text-sm">[/= msg /]</p>

    <ul class="w-full flex flex-col justify-center items-center">  
      [/ todos.map((item,index) => { /]
        <li class="todo w-[30%] pl-4 flex justify-start items-center flex-row gap-4 h-12 border-b border-b-teal-400">
          <p class="todo-title flex-[0.5]">[/= item.title /]</p>
          <form class="flex-[0.1] min-w-max" action="/todolist/checkcompleted/[/= item.id /]" method="post">
            <input name="_method" type="hidden" value="PUT" />
            <input class="todo-check[/= index /]" type="checkbox"/>
          </form>
          <div class="flex-[0.3] flex flex-row gap-2 items-center justify-around">
          <button data-id="[/= item.id /]" class="complete-button text-indigo-400 border border-transparent hover:border-indigo-400 px-3 py-2 text-bold" style="display: none">완료</button>
          <a href="/todolist/deletetodo/[/= item.id /]"   class="delete-button text-red-400 border border-transparent hover:border-red-400 px-3 py-2 text-bold" style="display: none">삭제</a>
        </div>
        </li>
        [/ }) /]
    </ul>

    <div class="mt-8 w-[30%] flex flex-row justify-end items-center gap-2">
      <button class="px-4 py-2 border border-gray-600 rounded-md group hover:bg-sky-400 "><span class="text-gray-600 group-hover:text-white">완료목록저장</span></button>
      <button id="all-delete-button" class="px-4 py-2 border border-gray-600 rounded-md group hover:bg-red-400"><span class="text-gray-600 group-hover:text-white">전부삭제</span></button>
    </div>
  </div>
  </body>

  <script>
    //locals로 받아오는 변수는 다른 스크립트로 분할 불가
    var todos = [/- JSON.stringify(todos) /]
  </script>
  <script type="text/javascript" src="/javascripts/todolist.js"></script>
</html>

